// Color
$black_0: #E6E9EC;
$black_1: #D0D3D6;
$black_2: #B6B9BC;
$black_3: #A0A3A6;
$black_4: #86898C;
$black_5: #737679;
$black_6: #595C5F;
$black_7: #434649;
$black_8: #303336;

$blue_information_0: #CFEDFB;
$blue_information_1: #9BDAF3;
$blue_information_2: #68C7EC;
$blue_information_3: #34B3E4;
$blue_information_4: #00A0DC;
$blue_information_5: #008CC9;
$blue_information_6: #0077B5;
$blue_information_7: #005E93;
$blue_information_8: #004471;

$green_primary_0: #E0F4BE;
$green_primary_1: #C7E59A;
$green_primary_2: #AED677;
$green_primary_3: #95C753;
$green_primary_4: #7CB82F;
$green_primary_5: #60AA14;
$green_primary_6: #4E8F13;
$green_primary_7: #3B7511;
$green_primary_8: #295A10;

$red_danger_8: #88001A;
