@import "normalize";
@import 'compass';
@import 'susy';
@import 'breakpoint';

// Constants
@import "./variables";


// Change Susy Default Global Setting
$susy: (
	columns: 12, 
	gutters: 1/4,
	math: fluid,
	global-box-sizing: border-box 
	);

/* Makes border-box properties */
@include border-box-sizing;

#root {
	background-color: $black_0;
}

.mapApp {
	@include container(1140px);
	@include clearfix; /* Adding a clearfix because all children elements are floated */
}

#main_map {
	@include span(full);
	height: 600px;
}

.infoBox {
	@include span(full);
	background-color: $black_3;
}

